.todo-list-item {
    width: 100%
}
.todo-list-item > span {
    flex-grow: 3;
}

.exclam {
    order: 3;
    padding: 4px 10px;
}

.trash {
    padding: 4px 7px;
    margin-right: 3px;
}
.todo-list-item-label:hover {
    cursor: pointer;
}
